# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/
tf219/

# Additional files to ignore
allfiles.txt
gap_duration_histogram.png
3HYPER Joint Keypoint Missing Data Gap MasterFile 3.xlsx
3HYPER Joint Keypoint Missing Data Gap MasterFile 5.xlsx
3HYPER Joint Keypoint Missing Data Gap MasterFile 4.xlsx
all_samples_dataset.py
average_data_loss_curve_head.png
joint_angle_optimization.py
median_loss_curve_head.png
movement_separation_test.py
saving_joint_connections.py
snr_calculation.py
3HYPER Joint Keypoint Label Swapping Log.csv
~$3HYPER Joint Keypoint Missing Data Gap MasterFile 5.xlsx
3HYPER Joint Keypoint Label Swapping Log.csv:sec.endpointdlp
.gitignore
3HYPER Joint Keypoint Label Swapping Log.csv:Zone.Identifier
interpolation_model_summary.xlsx
__pycache__/signal_plotting.cpython-312.pyc
__pycache__/signal_plotting.cpython-312.pyc
__pycache__/signal_postprocessing.cpython-312.pyc
dyad25_wtc_sample.png
dyad_25_wtc_Neck.png
dyad_25_wtc_Head.png
.gitignore
dyad_25_wtc_Left Elbow.png
.gitignore
dyad_25_wtc_Left Shoulder.png
.gitignore
.gitignore
dyad_25_wtc_Right Shoulder.png
average_wtc_phase_1.png
average_wtc_phase_2.png
average_wtc_phase.png
phase_binned_counts_1.png
phase_binned_counts_2.png
phase_binned_counts.png

